app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header h1{
    color: #001e2c;
}

.top-btn button {
  width: 150px;
  padding: 10px;
  font-size: 17px;
  background-color: #001e2c;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  transition: 0.3s ease-in-out;
}

.top-btn button:hover {
    color: #001e2c;
    border:1px solid #001e2c;
    background-color:transparent ;
}

.center {
  width: 100%;
  height: 80vh;
  background-color: #001e2c;
  transition: 0.3s ease-in-out;
}

.form {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form fieldset {
  width: 80%;
  height: max-content;
  padding: 10px;
  border: 1px solid blanchedalmond;
  border-radius: 14px;
  transition: 0.7s ease-in-out;
}

.form fieldset legend{
    font-size: 22px;
    color: blanchedalmond;
}

.entry{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input{
  width: 90%;
  display: flex;
  margin: 10px 4px;
}

.input input{
  width: 70%;
  padding: 10px;
  border-radius: 14px;
  border: none;
  background-color: blanchedalmond;
}

.input textarea{
  width: 70%;
  border-radius: 14px;
  resize: none;
  padding: 4px;
  background-color: blanchedalmond;
}

.input label{
  font-size: 20px;
  color: blanchedalmond;
  width: 160px;
}

.page-btns {
  display: flex;
  flex-direction: column;
  margin: 12px;
  gap: 7px;
}

.page-btns button:disabled{
    cursor: not-allowed;
}

.page-btns button {
  padding:0 4px;
  background-color: blanchedalmond;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  font-size: 22px;
}

.display{
  width: 100%;
  height: 100%;
  /* background-color: #f0f0f0; */
  background: linear-gradient(to left, rgba(0,0,0, .7), rgba(0,0,0,.7)), url(/main-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.bottom{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blanchedalmond;
  /* border: 1px solid #001e2c; */
  border-radius: 12px;
}

.bottom div:first-child{
  border-right: 1px solid #001e2c;
  padding-right: 10%;
}
.view{
/* width: 45%; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 10px;
/* border-radius: 12px; */
}
.education-view{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001e2c;
  padding: 10px;
border-radius: 12px;
  color: blanchedalmond;
}

.view h1{
  text-transform: capitalize;
}
.education-view h1{
  text-transform: capitalize;
}
.education-view p, .view p{
  font-style: italic;
  padding: 2px;
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  font-size: 24px;
  color: #001e2c;
}


.footer a{
  color: #001e2c;
}